   <div class="col-sm-3">
     <div class="holder bg2b b1p222">
       <h3 class="holder-head"></h3>
       <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <% @club.events.each do |event| %>
          <tr>
            <td><%= event.date %></td>
            <td><%= event.name %></td>
            <td><%= event.club_id %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>




