// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.club-title {
    

    color: #999;
    font: 1.3em 'Arial';
    margin-bottom: 1px;
    margin-top: -15px;
    padding: 7px;
}
.club-info {
  
    color: #999;
    font: 1em 'Arial';
    margin-bottom: 1px;
    margin-top: -15px;
    padding: 7px;
}

.checkin-body{
	background: none repeat scroll 0 0 #252525;
    color: #999;
    font: 1em 'Arial';
    margin-top:1px;
    margin-bottom: 1px;
    padding: 7px;
}
.post-name {
    background: none repeat scroll 0 0 #1c1c1c;
    border-radius: 3px 3px 0 0;
    color: #888;
    font: 1.1em 'Arial';
    margin-bottom: 1px;
    padding: 5px 5px 5px 7px;
}
.post-body{
    background: none repeat scroll 0 0 #252525;
    color: #888;
    font: 1em 'Arial';
    margin-top:1px;
    margin-bottom: 1px;
    padding: 15px;
}
.post-sub{
	background: none repeat scroll 0 0 #1e1e1e;
    border-radius: 0 0 3px 3px;
    color: #888;
    font: 0.8em 'Arial';
    margin-bottom: 1px;
   

}
.event-body{
    background: none repeat scroll 0 0 #252525;
    color: #888;
    border-radius: 0 0 3px 3px;
    font: 1em 'Arial';
    margin-top:1px;
    margin-bottom: 1px;
    padding: 15px;
}
.events-date{
	background: none repeat scroll 0 0 #1e1e1e;
    color: #888;
    font: 0.8em 'Arial';
    margin-bottom: 1px;
    padding: 7px;

}
.search-result{
	background: none repeat scroll 0 0 #202020;
    color: #888;
    font: 1em 'Arial';
    margin-bottom: 1px;
    padding: 7px;

}
.date{
    float:right;
    color:#666;
    padding-right:5px;
}
.p2{
	padding:2px;
}
.post-options{
    background:none;
    padding:5px;
    color:#777;
    font:1em 'Arial';

}
.create-post {
    margin: 25px auto 0;
    padding-left: 15px;
}