.register-now {
    border-radius: 5px;
    font: 1.4em 'Arial';
    margin: 25px -5px 28px 0;
    text-align: center;
    text-decoration: none;
}
.carousel-caption {
	background: rgba(0,0,0,0.5);
	bottom: 60px;
	border-radius:5px;
	margin-top:-10px;
	  padding:0px;

}